<label class="block">
    <%= input.label %>
    <input id="<%= input.id %>" name="<%= input.name %>" type="<%= input.type %>"
           placeholder="<%= input.placeholder %>"
           class="block focus:outline-none w-full px-2 pb-1 pt-3 bg-amber-100 focus:bg-amber-200 border-secondary border-b-[1px] border-solid rounded-t-md"
            value="<%= input.value? input.value : '' %>"
            <%= input.required? 'required' : '' %>
            <%= input.disabled? 'disabled' : '' %>
            <%= input.readonly? 'readonly' : '' %>/>
</label>