<article class="flex flex-col w-full text-black shadow-md rounded-2xl p-3">
    <time class="self-end text-xs text-zinc-600"><%= previewPost.date.toLocaleString('de-DE', {
            month: '2-digit',
            day: '2-digit',
            year: 'numeric'
        }) %></time>
    <div class="flex gap-1.5 font-medium">
        <a href="/posts/<%= previewPost._id %>" class="self-center w-[30%]">
            <img src="<%= previewPost.mainImage %>"
                 class="rounded-2xl"
                 alt="Blog post image"/>
        </a>
        <div class="flex flex-col self-start w-[70%]">
            <a href="/posts/<%= previewPost._id %>" class="text-md hover:underline leading-5">
                <%= previewPost.title %>
            </a>
            <p class="mt-2 text-xs leading-4 text-zinc-600">
                <%= previewPost.subtitle %>
            </p>
        </div>
    </div>
    <div class="flex mt-1.5 justify-between text-sm">
        <div class="flex gap-1">
            <img src="/assets/user-round.svg"
                 alt="Author avatar" class="shrink-0 aspect-square w-[15px]"/>
            <span><%= previewPost.author.username %></span>
        </div>
        <div><%= previewPost.category %> | <%= previewPost.timeToRead %> min</div>
    </div>
    <hr class="my-1 w-full bg-primary border border-primary border-solid min-h-[1px]"/>
    <p class="text-sm">
        <%= previewPost.previewText %>
        <a href="/posts/<%= previewPost._id %>" class="font-semibold underline">Read more</a>
    </p>
</article>