<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header') %>
<section class="">
    <section>
        <%- include('../partials/admin-console/manage-articles-component') %>
    </section>
    <section>
        <%- include('../partials/admin-console/manage-users-component') %>
    </section>
</section>
<%- include('../partials/general/alert-component') %>
</body>
</html>