<!DOCTYPE html>
<html lang="en">
<%- include('../partials/general/head'); %>
<body class="min-h-screen flex flex-col">
<%- include('../partials/general/header') %>
<section class="">
    <section>
        <%- include('../partials/admin-console/manage-articles-component') %>
    </section>
    <section>
        <%- include('../partials/admin-console/manage-users-component') %>
    </section>
</section>
<%- include('../partials/general/alert-component') %>
<%- include('../partials/general/footer') %>
</body>
</html>