<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="min-h-screen flex flex-col">
<%- include('../partials/header') %>
<%- include('../partials/create-post-component') %>
<%- include('../partials/general/alert-component') %>
<%- include('../partials/general/footer') %>
</body>
</html>