<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header') %>
<section class="flex flex-col items-center justify-center">
        <%- include('../partials/landing-page/featured-post-component') %>
        <%- include('../partials/landing-page/recent-posts-component') %>
</section>
<%- include('../partials/general/alert-component') %>
</body>
</html>