<!DOCTYPE html>
<html lang="en">
<script src="/js/signUp.js"></script>
<%- include('../partials/head'); %>
<body class="min-h-screen flex flex-col">
<%- include('../partials/header') %>
<section class="h-full flex flex-col items-center justify-center">
    <%- include('../partials/signup-component') %>
</section>
<%- include('../partials/general/alert-component') %>
<%- include('../partials/general/footer') %>
</body>
</html>