<article class="bg-white border border-primary border-solid max-w-[734px]">
    <input id="rescentPostId" class="hidden" disabled value="<%=rescentPost._id%>" />
    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
        <figure class="flex flex-col w-[42%] max-md:ml-0 max-md:w-full">
            <img loading="lazy" src="<%=rescentPost.mainImage%>" alt="Article image" class="grow w-full" />
        </figure>
        <div class="p-2 flex flex-col ml-5 w-[58%] max-md:ml-0 max-md:w-full">
            <section class="flex flex-col self-stretch my-auto text-base font-medium leading-6 max-md:mt-10">
                <h2 class="text-base font-bold text-black"><%=rescentPost.title.substring(0, 60)%><%=rescentPost.title.length >=60 ? '...' : ''%></h2>
                <p class="mt-4 text-sm text-black"><%=rescentPost.subtitle.substring(0, 30)%><%=rescentPost.subtitle.length >=30 ? '...' : ''%></p>
                <p class="mt-2.5 text-black"><%=rescentPost.author.username%> | <%=rescentPost.timeToRead%> min</p>
                <div class="flex gap-3 mt-3 whitespace-nowrap justify-end">
                    <button onclick="handleEditRescentPost('<%=rescentPost._id.toString()%>')" class="justify-center px-6 py-1.5 text-black bg-primary rounded-lg shadow-sm max-md:px-5">
                        Edit
                    </button>
                    <button onclick="handleDeleteRescentPost('<%=rescentPost._id.toString()%>')" class="justify-center px-6 py-1.5 text-white bg-orange-600 rounded-lg shadow-sm max-md:px-5">
                        Delete
                    </button>
                </div>
            </section>
        </div>
    </div>
</article>