<script src="/js/admin-console/manage-articles.js"></script>
<section class="mb-3 p-5">
    <details <%=section && section === 'articles' ? 'open' : ''%>>
        <summary class="text-3xl text-primary">
            Manage Articles
        </summary>
        <section>
            <section id="manage-articles-container" class="flex flex-col gap-10">
                <section id="all-articles-container" class="flex flex-wrap gap-4">
                    <!-- Modified from here https://flowbite.com/docs/forms/select/ -->
                    <div class="mt-6">
                        <label for="articles-select" class="mb-1 text-md font-medium text-secondary">Select an
                            Article</label>
                        <select id="article-select" name="article"
                                class="text-lg block focus:outline-none w-full px-2 pt-4 pb-1 bg-amber-100 focus:bg-amber-200 border-secondary border-b-[1px] border-solid rounded-t-md">
                            <option value=""></option>
                            <% for(const post of allPosts){ %>
                                <option value="<%= post._id %>"><%= post.title.substring(0, 40) %><%= post.title.length >= 40 ? '...' : '' %></option>
                            <% } %>
                        </select>
                    </div>
                    <div id="manage-article-buttons" class="hidden self-end flex gap-2">
                        <button onclick="handleViewDetailPage()"
                                class="text-base justify-center px-6 py-2 whitespace-nowrap border-primary border-solid border-2 text-primary rounded-lg shadow-sm max-md:px-5">
                            View Post
                        </button>
                        <button onclick="handleEditPost()"
                                class="text-base justify-center px-6 py-2 whitespace-nowrap bg-primary rounded-lg shadow-sm max-md:px-5">
                            Edit
                        </button>
                        <button onclick="handleDeletePost()"
                                class="text-base justify-center px-6 py-2 text-white whitespace-nowrap bg-orange-600 rounded-lg shadow-sm max-md:px-5">
                            Delete
                        </button>
                    </div>
                </section>
                <section id="manage-recent-articles-container" >
                    <script src="/js/admin-console/manageRescentPost.js"></script>
                    <h1 class="text-2xl font-bold mb-4 ">Recent Posts (Last 24 hours)</h1>
                    <section id="recent-articles-container"
                             class="flex flex-wrap gap-2">
                        <% for(const rescentPost of postsLastDay){ %>
                            <%- include('./article-component', {rescentPost: rescentPost}) %>
                        <% } %>
                    </section>
                </section>
            </section>
        </section>
    </details>
    <hr class="my-2 w-full bg-black border border-black border-solid min-h-[1px] max-md:max-w-full"/>
</section>